---
import "@fontsource/rubik/variable.css"
import ExternalLink from "../external-link.astro"
import { Simulator } from "../simulator"
import { linkClass } from "../styles"

const title = "Battle Simulator - 100% Orange Juice"
const description =
	"find out your chances of dying, because gambling blind is dangerous"
---

<!DOCTYPE html>
<html lang="en" class="min-h-screen">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<meta name="title" content={title} />
		<meta name="description" content={description} />

		<meta property="og:type" content="website" />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />

		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:title" content={title} />
		<meta property="twitter:description" content={description} />

		<meta property="theme-color" content="#c2410c" />

		<title>{title}</title>

		<!-- synchronously set the theme preference before paint -->
		<script is:inline>
			if (localStorage.getItem("darkMode") === null) {
				localStorage.setItem(
					"darkMode",
					String(window.matchMedia("(prefers-color-scheme: dark)").matches),
				)
			}
			document.documentElement.classList.toggle(
				"dark",
				localStorage.getItem("darkMode") === "true",
			)
		</script>
	</head>
	<body
		class="flex flex-col min-h-screen bg-gradient-to-b from-orange-100 to-orange-300 dark:from-stone-800 dark:to-stone-900 dark:text-white"
	>
		<div class="m-auto flex flex-col items-center gap-4 py-20">
			<!-- this errors when server rendered -->
			<!-- https://github.com/preactjs/signals/issues/168 -->
			<main>
				<Simulator client:only="preact" />
			</main>
			<footer class="flex items-center gap-1.5 text-sm">
				<ExternalLink
					href="https://github.com/itsMapleLeaf/oj-battle-sim"
					class={linkClass}
				>
					source
				</ExternalLink>
				•
				<ExternalLink
					href="https://100orangejuice.fandom.com/wiki/Battle"
					class={linkClass}
				>
					what is this?
				</ExternalLink>
			</footer>
		</div>
	</body>
</html>
